GROQ_API_KEY=
AVIATION_API_KEY=
TAVILY_API_KEY=
SUPABASE_URL=
SUPABASE_KEY=

AWS_REGION=us-east-1
TRAVEL_PLANS_TABLE=TravelPlans
CLOUDWATCH_LOG_GROUP=/ai-travel-booking
CLOUDWATCH_LOG_STREAM=streamlit-app
